body {
    margin: 0;
    background-color: beige;
}

header {
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-hamburguer {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    margin: 10px;
    align-items: center;
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-evenly; 
    transform: translateX(-100%);
    transition: .8s ease-out;
    position: relative;
    z-index: -1;
}

nav a {
    text-decoration: none;
    color: red;
    font-family: sans-serif;
}

span {
   background-color: white;
    height: 3px;
    width: 100%;
    display: block;
    transition: .6s;
}

.traco-1, .traco-3 {
    transform-origin: right center;
}

.ativo .traco-1{
    transform: rotate(-45deg);
}

.ativo .traco-2{
    opacity: 0;
}

.ativo .traco-3{
    transform: rotate(45deg);   
}

.visivel {
    transform: translateX(0);
}